Repository TEHIK-EE/tedi-design-system, pull requests merged in 2024-06, with the labels that each got.

#84 feat(table): add options for 50 and 100 rows for tables
  libs/react-components/community/src/components/table/components/pagination/pagination.tsx
Labels: community

#61 fix(layout): fix role for sidenav and add break-all to footer links
  libs/react-components/community/src/components/layout/footer/footer.tsx
Labels: community

#59 fix(choice-group): fix radio and check button screenreader bug
  libs/react-components/community/src/components/form/check/check.tsx
  libs/react-components/community/src/components/form/radio/radio.tsx
Labels: community

#87 feat(table): add enableRowSelection to table #86
  libs/react-components/community/src/components/table/components/helpers.tsx
  libs/react-components/community/src/components/table/table.stories.tsx
  libs/react-components/community/src/components/table/table.tsx
  libs/react-components/community/src/components/table/table.types.ts
Labels: community

#85 feat(accordion, card-header): add muted color for accordion header background
  libs/react-components/community/src/components/accordion/accordion-item-header/accordion-item-header.tsx
  libs/react-components/community/src/components/accordion/accordion.stories.tsx
  libs/react-components/community/src/components/card/card-header/card-header.tsx
  libs/react-components/community/src/components/card/card.module.scss
Labels: community

#90 fix(TextField): #88 - Icon now aligns correctly in small TextField
  libs/react-components/community/src/components/form/textfield/textfield.module.scss
Labels: bug, community

#91 feat(TextField): #89 - Add isClearable and large option to TextField
  libs/react-components/community/src/components/form/textfield/textfield.module.scss
  libs/react-components/community/src/components/form/textfield/textfield.stories.tsx
  libs/react-components/community/src/components/form/textfield/textfield.tsx
  libs/react-components/community/src/providers/label-provider/labels-map.ts
Labels: enhancement, community
